@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/woff/IRANSansXFaNum-Bold.woff') format('woff'),
  url('../fonts/woff2/IRANSansXFaNum-Bold.woff2') format('woff2')
}

@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/woff/IRANSansXFaNum-Regular.woff') format('woff'),
  url('../fonts/woff2/IRANSansXFaNum-Regular.woff2') format('woff2');
}
@layer base {
  body{
    font-family: IRANSansX;
    @apply overflow-x-hidden
  }

}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  width: 300px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  padding: 10px 10px;
  z-index: 1;
  font-size: 15px;
  font-weight: 400;
  color: #090808;
  -bottom: 100px;

}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}

